.category-list{
    display: flex;
}
.categort-item{
    flex:1;
    background: #fff;
    margin: 12px;
}
.category-image{
    width: 100%;
}
.category-name{
    font-size: 21px;
    font-weight: bold;
    padding: 10px;
}
.login-box{
    max-width: 100%;
    width: 400px;
    padding: 20px;
    background: #cfcfcf;
}
.btn span {
    color: #fff;
  }